.fluid {
    background-color: #ffffff;
    border: 1px solid rgb(180, 177, 177);
    border-radius: 5px;
}

#wrapper {
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}

.wrap {
    max-height: 1100px;
    overflow: auto;
}

.ml-2 {
    margin-left: 10px !important;
}

.p-lr-30 {
    padding: 0 31px;
}

.modal-header .close {
    margin-top: -38px !important;
    font-size: 36px !important;
}

.swal-footer {
    text-align: center;
}

.item-container {
    border: 1px solid black;
}

th[colspan="5"] {
    text-align: right;
}

.mt-18 {
    margin-top: 18px;
}